<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/users.scss" type="text/css">

</head>
<body>
<h1><span id='main'>Please Login Below</span></h1>

<%if flash[:message].present?%>
<div id="error_explanation">
<span id='main'><%= flash[:message] %></span>
</div><%end%>


<%if !logged_in?%><span id='main'>
<%=form_tag sessions_path do%>
<%=label_tag :username%>
<%=text_field_tag :username%><br>
<%=label_tag :password%>
<%=password_field_tag :password%><br>

<%= submit_tag "Submit"%></span>
<%end%><%end%>
<span id='main'><%=link_to "Back to Signup", '/'%></span>

</body></html>