<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/comments.scss" type="text/css">

</head>
<body>

<% if @comment.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being edited.</h2>
<% @comment.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li>
</ul>
</div>
<%end%>
<%end%>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>
<h1> Edit Comment</h1>

<%=form_for(@comment) do |f|%>
<%=f.label :content%>
<%=f.text_area :content%>
<%=f.hidden_field :commenter_id%>
<%=f.hidden_field :plant_id%>
<%=f.submit%>
<%end%>
</body></html>