<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/comments.scss" type="text/css">

</head>
<body>
<%@comments.each do |comment|%>
<% if comment.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(comment.errors.count, "error") %> prohibited the comments view page from being shown.</h2>

<% comment.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li></ul>
</div>
<%end%><%end%>
<%end%>
<br>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>
<br>

<%if @plant && @plant.comments.blank?%><h3><span id='main'>Plant: <%=link_to @plant.nickname, plant_path(@plant)%> Has No Comments. -- Owned by <%=link_to @plant.user.username, user_path(@plant.user)%></span></h3>
<%elsif @plant && @plant.comments.present?%><h3><span id='main'>Plant: <%=link_to @plant.nickname, plant_path(@plant)%>'s Comments  -- Owned by <%=link_to @plant.user.username, user_path(@plant.user)%></span></h3>
<br><br>
<%else%> <h2><span id='main'>ALL COMMENTS</span></h2><%end%>

    <%if @plant && @plant.comments.present? || !params[:plant_id]%>
    <%@comments.each do |comment|%>
    <ul><li><span id='main'><%=link_to comment.commenter.username, user_path(comment.commenter)%> says <%=comment.content%>   <%if !@plant%> About <%=link_to comment.plant.nickname, plant_path(comment.plant)%>, The <%=comment.plant.plant_type%> Plant.</span></li><%if comment.commenter == current_user%><%=link_to "Edit", edit_comment_path(comment)%> -- <%=link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: "Would you like to Delete Comment?"}%><%end%><%end%>
   </ul><%end%><%end%>
  
   <span id='main'><%if @plant%><%=button_to "Add A Comment", new_plant_comment_path(@plant, @comment), method: :get%><%end%></span>
</body></html>