<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/plants.scss" type="text/css">

</head>
<body>


<%@plants.each do |plant|%>
<%if plant.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(plant.errors.count, "error") %> prohibited this Plants' View from being shown.</h2>


<% plant.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li>
</ul>
</div>
<%end%><%end%>
<%end%>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>

<%if params[:user_id]%>
<h1><%=@user.username%>'s Plants</h1>


<%else%>
    <h1>ALL PLANTS!</h1><%end%>

    <%= form_tag plants_path, :method => "get" do%>
        <%=label_tag(:search, "Search By Type") %>
        <%=text_field_tag :search, params[:search] %>
        <%=submit_tag("Search", :name => nil) %>
        <%end%>

<%@plants.each do |plant|%>
<ul><li> Nickname: <%=link_to plant.nickname, plant_path(plant)%> --- Type: <%=plant.plant_type%> --- Comments: <%=link_to plant.comments.size, plant_comments_path(plant)%><%if !params[:user_id]%> --- Owner: <%=link_to plant.user.username, user_path(plant.user)%></li><%end%>
</ul><%end%><br>
<%if params[:user_id]%>
<%=link_to 'Back to Owner', user_path(@user)%><%end%>

</body></html>