<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/plants.scss" type="text/css">
</head>
  <body>
    
    <%#ERROR HANDLING%>
  <%if @plant.errors.any?%>
   <div id="error_explanation">
       <h2><span id='main'><%= pluralize(@plant.errors.count, "error") %> prohibited this Plant from being saved.</span></h2>
         <% @plant.errors.full_messages.each do |msg|%>
        <ul><li>
      <span id='main'><%= msg %></span>
     </li></ul>
   </div>
<%end%><%end%>
    
    <%if flash[:message].present?%>
      <div id="error_explanation">
        <%= flash[:message] %>
      </div>
    <%end%>
    <%#END OF HANDLING%>

    <h1><span id='main'> Create a Plant</span></h1>

      <%=form_for(@plant) do |f|%> <span id='main'>
        <%=f.label :nickname%>
        <%=f.text_field :nickname%>
        <%=f.hidden_field :user_id%>
        <%=f.label :plant_type%>
        <%=f.text_field :plant_type%>
      <%=f.submit%></span>
      <%end%>

    <br>
    <span id='main'><%=link_to "Back to Profile", user_path(current_user)%></span>
  </body>
</html>