<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/plants.scss" type="text/css">

</head>
<body>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>

 

<% if @plant && @plant.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@plant.errors.count, "error") %> prohibited this Plant from updated.</h2>
<% @plant.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li></div>
<%end%><%end%>

<%if @comment && @comment.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from updated.</h2>
<% @comment.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li></div>
<%end%><%end%>

<%if @log && @log.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@log.errors.count, "error") %> prohibited this Plant from updated.</h2>
<% @log.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li></div>
<%end%><%end%>


<%if @plant%>                             
<h1>Plant <%=@plant.nickname%>'s Page</h1>
Nickname: <%=@plant.nickname%> <br>
Plant Type: <%=@plant.plant_type%>
<%end%> 


<%if @plant.logs.present?%>
<h3><%=@plant.nickname%>'s Care Logs:</h3>

<table>
  <tr>
        <th>Water Date</th>
        <th>Condition</th>
        <th>Notes</th>
 </tr>



<%@plant.logs.each do |log|%>
<tr>
<td> <%= log.water_date.strftime("%m/%d/%Y")%></td>
<td> <%= log.condition_update%></td>
<td> <%= log.notes%><%if @plant.user == current_user%> | <%= link_to 'Edit Log', edit_log_path(log)%> | <%=link_to 'Delete Log', log_path(log), method: :delete, data: {confirm: "Would you like to Delete Log?"}%></td><%end%>
</tr>

<%end%><%end%>
</table>
<br>

<%if @plant.user == current_user%>

<%=form_for(@plant) do |f|%>
<%=f.fields_for :logs, @plant.logs.build do |lf|%>
<%=lf.hidden_field :plant_id %>
<%=lf.label :water_date%>
<%=lf.date_field :water_date%>
<%=lf.label :notes%>
<%=lf.text_field :notes%>
<%=lf.label :condition_update%>
<%=lf.collection_select :condition_update, @conditions, :to_s, :to_s, {:selected => "No Change"}%>
<br><br> 


<%=lf.submit%>
<%end%>
<%end%>
<%end%>

<%if @plant.comments.present?%>
<h3>Comments on <%=@plant.nickname%>:</h3>
<%@plant.comments.each do |comment|%><ul><li>
 <%=link_to comment.commenter.username, user_path(comment.commenter)%> says: 
<%=comment.content%><%if comment.commenter == current_user%> | <%=link_to 'Edit', edit_comment_path(comment)%> | <%=link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: "Would you like to Delete Comment?"}%><%end%>
 </li> 
</ul><%end%><%else%>
<h3>No Comments Yet:</h3>
<%end%>


<%= form_for(@plant) do |f|%>
<%=f.fields_for :comments, @comment do |cf|%> 
<%=cf.hidden_field :plant_id %>
<%=cf.hidden_field :commenter_id %>
<%=cf.label :content, 'Add a Comment:'%>
<%=cf.text_area :content %>
<%=cf.submit%>
<%end%><%end%><br>
<%=link_to 'Back to Owner', user_path(@plant.user)%>
</body></html>