
<%=form_for(@plant) do |f|%>

<%=f.collection_select_values%>
<%f.fields_for :logs, @plant.logs.build do |log_f|%>
    <%=log_f.label :water_date%>
    <%=log_f.date_field :water_date%>
    <%=log_f%>

 <select name="condition_update" id="condition_update" placeholder="Current Condition">
<%@conditions.each do |state|%>
<option value="<%=state%>"><%=state%></option>
<%end%>
</select>
