<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/logs.scss" type="text/css">

</head>
<body>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>

<% if @log.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being edited.</h2>


<% @log.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li>
</ul>
</div>
<%end%>
<%end%>

<h1> Edit a Log</h1>

<%=form_for(@log) do |f|%>
<%=f.label :water_date%>
<%=f.date_field :water_date%>
<%=f.hidden_field :plant_id%>
<%=f.collection_select :condition_update, @conditions, :to_s, :to_s%>
<%=f.label :notes%>
<%=f.text_field :notes%>
<%=f.submit%>
<%end%>
<br>
<%=link_to "Back", plant_path(@log.plant)%>
</body></html>