<h1>YOU GOT THERE</h1>

<h1> Edit a Log</h1>

<%=form_for(@log) do |f|%>
<%=f.label :water_date%>
<%=f.date_field :water_date%>
<%=f.hidden_field :plant_id%>
<%=f.collection_select :condition_update, @conditions, :to_s, :to_s%>
<%=f.label :notes%>
<%=f.text_field :notes%>
<%=f.submit%>
<%end%>