<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/logs.scss" type="text/css">
</head>
<body>

<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>

<h1><%if params[:plant_id]%><%=@plant.nickname%>'s Logs</h1><%else%>ALL LOGS</h1><%end%>

<%if @logs.present?%>
<table>
  <tr>
        <th>Water Date</th>
        <th>Condition</th>
        <th>Notes</th>
 </tr>



<% @logs.each do |log|%>
<tr>
<td> <%= log.water_date.strftime("%m/%d/%Y")%></td>
<td> <%= log.condition_update%></td>
<td> <%= log.notes%><%if log.plant.user == current_user%> | <%= link_to 'Edit Log', edit_log_path(log)%> | <%=link_to 'Delete Log', log_path(log), method: :delete, data: {confirm: "Would you like to Delete Log?"}%></td><%end%>
</tr>
<%end%>

</table>

<%else%>
<h3>No Logs to date</h3>
<%end%>
</body></html>