<!DOCTYPE html>
<head>
<link rel="stylesheet" href="stylesheets/logs.scss" type="text/css">

</head>
<body>
<%if flash[:message].present?%>
<div id="error_explanation">
<%= flash[:message] %>
</div><%end%>

<% if @log.errors.any?%>
<div id="error_explanation">
<h2><%= pluralize(@log.errors.count, "error") %> prohibited this Log from being saved.</h2>


<% @log.errors.full_messages.each do |msg|%>
<ul><li><%= msg %></li>
</ul>
</div>
<%end%><%end%>

<%if !params[:plant_id]%><h1> Create a Log</h1><%else%><h1>New Log for <%=Plant.find(params[:plant_id]).nickname%></h1><%end%>
<%if current_user.plants.empty?%>
<p>Looks Like you need a Plant first <%=link_to 'Add A Plant', new_plant_path%></p>
<%else%>

<%=form_for(@log) do |f|%>
<%if params[:plant_id].nil?%>
<%=f.label "Plant:"%>
<%=f.collection_select :plant_id, current_user.plants, :id, :nickname%>
<%else%>
<%=f.hidden_field :plant_id%><%end%>
<%=f.label :water_date%>:
<%=f.date_field :water_date%>
<%=f.label :condition_update%>:
<%=f.collection_select :condition_update, @conditions, :to_s, :to_s, {:selected => "No Change"}%>
<%=f.label :notes%>:
<%=f.text_field :notes%>
<%=f.submit%>
<%end%><%end%>
<br>

<%=link_to 'Back to Profile', user_path(current_user)%>
</body></html>