<!DOCTYPE html>
<html>
  <head>
    <title>PlantersDigest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav><span id='user'><%if logged_in?%><%=link_to 'Add A Plant', new_plant_path%>&nbsp; &nbsp;<%= link_to 'Add A Log', new_log_path%>&nbsp; &nbsp;<%= link_to 'Profile', user_path(current_user)%>&nbsp; &nbsp;<%=link_to "Most Popular Plants", plants_path%>&nbsp; &nbsp;<%=link_to "Users Index", users_path%>&nbsp;&nbsp; <%= link_to 'Logout', logout_path, :method => :delete, data: {:confirm => "Confirm to Logout"} %></span></nav><%end%><br><br>
    <%= yield %>
  </body>
</html>